################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Csharp-journey
/bin/Debug/net8.0
/obj
/Csharp-journey.csproj
/Csharp-journey.sln
